<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/public/css/acercaDeNosotros.css">
</head>
<body>
    <section class="section1">
        <div class="section1-contenido">
            <h4>Somos AuraDerm</h4>
            <h3>Productos para el cuidado de tu piel</h3>
            <svg id="parpadeo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"/>
                <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
              </svg>
        </div>
    </section>
    <section class="section2">
        <div class="img-section2">
            <img src="https://images.pexels.com/photos/5240617/pexels-photo-5240617.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="mujer skin care">
        </div>
        <div class="text-section2">
            <h2>Misión</h2>
            <p>
                En nuestra tienda de skincare online, nos comprometemos a ofrecer a nuestros clientes una experiencia de compra inigualable al proporcionar una cuidada selección de productos naturales y dermatológicos de alta calidad. Buscamos empoderar a hombres y mujeres para que se sientan seguros de sí mismos, brindándoles acceso a productos efectivos y respaldados por la ciencia.
            </p>
        </div>
    </section>
    <section class="section3">
        <div class="img-section3">
            <img src="https://images.pexels.com/photos/8160463/pexels-photo-8160463.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"alt="mujer skin care">
        </div>
        <div class="text-section3">
            <h2>Visión</h2>
            <p>
                Nuestra visión es ser el destino en línea preferido para hombres y mujeres de todas las edades que buscan productos de skincare de calidad y una experiencia de compra sin complicaciones. Buscamos ser reconocidos por nuestra confiabilidad, transparencia y dedicación a ofrecer una selección de productos innovadores que permitan a cada cliente descubrir, experimentar y celebrar su belleza de manera auténtica y sin esfuerzo.
            </p>
        </div>
    </section>
</body>
</html>