<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../src/public/css/acercaDeNosotros.css" />
    <link href="../src/public/css/nav.css" rel="stylesheet">
    <link href="../src/public/css/footer.css" rel="stylesheet">
  </head>
  <body>
    <header></header>
    
    <section class="section1">
      <div class="section1-contenido">
        <h4>Somos AuraDerm</h4>
        <h3>Productos para el cuidado de tu piel</h3>
        <svg
          id="parpadeo"
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-box-arrow-in-down"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"
          />
          <path
            fill-rule="evenodd"
            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"
          />
        </svg>
      </div>
    </section>
    <h1 class="conoce-mas">Conoce más de AuraDerm</h1>
    <section class="section2">
      <div class="img-section2">
        <img
          src="https://images.pexels.com/photos/5240617/pexels-photo-5240617.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="mujer skin care"
        />
      </div>
      <div class="text-section2">
        <h2>Misión</h2>
        <p>
          En nuestra tienda de skincare online, nos comprometemos a ofrecer a
          nuestros clientes una experiencia de compra inigualable al
          proporcionar una cuidada selección de productos naturales y
          dermatológicos de alta calidad. 
        </p>
      </div>
    </section>
    <section class="section3">
      <div class="img-section3">
        <img
          src="https://images.pexels.com/photos/8160463/pexels-photo-8160463.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="mujer skin care"
        />
      </div>
      <div class="text-section3">
        <h2>Visión</h2>
        <p>
          Nuestra visión es ser el destino en línea preferido para hombres y
          mujeres de todas las edades que buscan productos de skincare de
          calidad y una experiencia de compra sin complicaciones.
        </p>
      </div>
    </section>

    <div class="titulo-seccion4">
      <h2>Equipo de trabajo</h2>
    </div>

    <section class="section4">
      <div class="contenedor-4">
        <div class="slider-inner">
          <div class="contend-img">
            <img
              src="../src/public/img/ana-foto.png"
              alt=""
            />
            <h3>Ana Álvarez</h3>
            <h6>Scrum Master</h6>
          </div>
          <div class="contend-img">
            <img
              src="../src/public/img/isabel-foto.png" 
              alt=""
            />
            <h3>Isabel Moreno</h3>
            <h6>Product Owner</h6>
          </div>
          <div class="contend-img">
            <img
              src="https://img.freepik.com/foto-gratis/chico-guapo-seguro-posando-contra-pared-blanca_176420-32936.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1715040000&semt=sph"
              alt=""
            />
            <h3>Edwars Munar</h3>
            <h6>Dev Back-end</h6>
          </div>
          <div class="contend-img">
            <img
              src="../src/public/img/alexander-img.png"
              alt=""
            />
            <h3>Alexander Martínez</h3>
            <h6>Dev Front-end</h6>
          </div>
        </div>
      </div>
    </section>
    <footer></footer>
        <script src="../src/js/funcionalidad.js"></script>

    <script src="../src/js/acercaDeNosotros.js"></script>
  </body>
</html>
