<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | AuraDerm</title>
    <link href="../src/public/css/nav.css" rel="stylesheet" />
    <link href="../src/public/css/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="../src/public/css/blog.css" />
  </head>
  <body>
    <header></header>
    <main>
      <div class="blog-container">
        <section class="post-list">
          <div class="content">
            <article class="post">
              <div class="post-header">
                <div class="post-img">
                  <img
                    src="https://images.pexels.com/photos/7479649/pexels-photo-7479649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  />
                </div>
              </div>
              <div class="post-body">
                <h2>
                  Tipos de piel: aprende cuáles son los diferentes tipos, sus
                  características y la rutina ideal
                </h2>
                <p class="blog-description">
                  ¿Te ha pasado que a veces tu piel se ve apagada o se siente más reseca? Cada uno de los tipos de piel que existen tienen características especificas que debes conocer muy bien para saber cómo cuidarla y qué productos de skincare usar. Si crees que tus hábitos de cuidado no son los meiores, pero [...]
                </p>
                <div class="post-link">
                  <a href="#">Leer más...</a>
                </div>
              </div>
            </article>
          </div>
        </section>
        <section class="post-list">
          <div class="content">
            <article class="post">
              <div class="post-header">
                <div class="post-img">
                  <img
                    src="https://images.pexels.com/photos/5938242/pexels-photo-5938242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  />
                </div>
              </div>
              <div class="post-body">
                <h2>
                  PH de la piel: qué es y cómo mantenerlo en equilibrio para una
                  piel sana
                </h2>
                <p class="blog-description">
                  En más de una ocasión habrás escuchado, leído o te habrán hablado sobre el pH de la piel, pero quizá es un término que no tienes muy claro aún y no sabes por qué es importante. Sigue leyendo para descubrir las respuestas a las preguntas más importantes sobre este tema y toda la información que [...]
                </p>
                <div class="post-link">
                  <a href="#">Leer más...</a>
                </div>
              </div>
            </article>
          </div>
        </section>
        <section class="post-list">
          <div class="content">
            <article class="post">
              <div class="post-header">
                <div class="post-img">
                  <img
                    src="https://images.pexels.com/photos/3621234/pexels-photo-3621234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  />
                </div>
              </div>
              <div class="post-body">
                <h2>
                  ¿Los ingredientes naturales para la piel son mejores que los
                  sintéticos?
                </h2>
                <p class="blog-description">
                  Durante los últimos años se ha hecho más evidente una clara preferencia hacia los ingredientes naturales para la piel. Los cosméticos y productos de skincare con ingredientes botánicos parecen ser ahora los más populares y favoritos del mercado. Sin embargo, vale la pena detenerse a revisar cuáles [...]
                </p>
                <div class="post-link">
                  <a href="#">Leer más...</a>
                </div>
              </div>
            </article>
          </div>
        </section>
        <section class="post-list">
          <div class="content">
            <article class="post">
              <div class="post-header">
                <div class="post-img">
                  <img
                    src="https://images.pexels.com/photos/3762466/pexels-photo-3762466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Imagen portada de blog"
                  />
                </div>
              </div>
              <div class="post-body">
                <h2>
                  Limpiadores faciales: qué tipos hay y cual es el mejor para ti
                </h2>
                <p class="blog-description">
                  Antes de iniciar el día o al finalizarlo y prepararte para descansar, no hay nada que se sienta tan bien en tu cara como un limpiador facial. Por la mañana te ayudará a despertar mejor y a dejar el rostro listo para recibir el resto de tus productos de skincare; y, por la noche, eliminará [...]
                </p>
                <div class="post-link">
                  <a href="#">Leer más...</a>
                </div>
              </div>
            </article>
          </div>
        </section>
        <section class="post-list">
          <div class="content">
            <article class="post">
              <div class="post-header">
                <div class="post-img">
                  <img
                    src="https://images.pexels.com/photos/4921289/pexels-photo-4921289.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  />
                </div>
              </div>
              <div class="post-body">
                <h2>
                  Cruelty free, la certificación tan necesaria en la cosmética
                </h2>
                <p class="blog-description">
                  El movimiento vegano se ha instaurado con gran fuerza en el mundo de la belleza. Cada día aparecen cientos y cientos de cosméticos veganos nuevos. También se ha creado todo un movimiento bajo el paraguas del “cruelty-free”. Pero un momento… ¿No es lo mismo? [...]
                <div class="post-link">
                  <a href="#">Leer más...</a>
                </div>
              </div>
            </article>
          </div>
        </section>
        <section class="post-list">
          <div class="content">
            <article class="post">
              <div class="post-header">
                <div class="post-img">
                  <img
                    src="https://images.pexels.com/photos/7795847/pexels-photo-7795847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  />
                </div>
              </div>
              <div class="post-body">
                <h2>
                  La importancia del envasado en la cosmética sostenible:
                  opciones eco-friendly
                </h2>
                <p class="blog-description">
                  A raíz de todos los efectos negativos que tiene el plástico para nuestra salud personal y también medioambiental, muchas empresas de cosmética natural, sobre todo las marcas de cosmética nicho, han decidido invertir tiempo, dinero y muchas horas de estudio [...]
                </p>
                <div class="post-link">
                  <a href="#">Leer más...</a>
                </div>
              </div>
            </article>
          </div>
        </section>
      </div>
    </main>
    <footer></footer>
    <script type="module" src="/src/js/funcionalidad.js"></script>
  </body>
</html>
