<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tu carrito</title>
    <link href="../src/public/css/nav.css" rel="stylesheet" />
    <link href="../src/public/css/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="../src/public/css/blog.css">
  </head>
  <body>
    <header></header>
    <main>
        <section>
            <div class="container-trabajando">
                <h2>Estamos trabajando </h2>
                <h3>Proximamente el mejor blog para cuidado de la piel</h3>
                <img src="/src/public/img/logos_Mesa de trabajo 1.png" alt="">
            </div>
        </section>
    </main>
    <footer></footer>
    <script type="module" src="/src/js/funcionalidad.js"></script>
  </body>
</html>
