<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito</title>
    <link href="../src/public/css/nav.css" rel="stylesheet">
    <link href="../src/public/css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/public/css/cart.css">
</head>
<body>
    <header></header>
<div id="page-content">

</div>
    <footer></footer>
    <script src="../src/js/funcionalidad.js"></script>
    
</body>
</html>