<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../src/public/css/contactForm.css" />
  <link href="../src/public/css/nav.css" rel="stylesheet" />
  <link href="../src/public/css/footer.css" rel="stylesheet" />
  <title>Contáctanos</title>
</head>

<body>
  <header></header>
  <main>
  <h2 id="contact-form-h2">Contáctanos</h2>
  <div class="center-wrapper">
  <div class="container">
    <div class="info-container">
    <p id="contact-form-p">
      <span>¿Tienes dudas o sugerencias?</span> <br>Contáctanos o déjanos tu mensaje y te responderemos
    </p>
    <div class="contact-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-telephone-fill"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
      </svg>
      <h5>+57 300 300 30 30</h5>
    </div>
    <div class="mail-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-envelope-fill"
        viewBox="0 0 16 16">
        <path
          d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
      </svg>
      <h5>auradermco@gmail.com</h5>
    </div>
  </div>
    <div class="formulary-container">
      <form id="contactForm">
        <div class="form-group">
          <label for="name">Nombre completo</label>
          <input type="text" id="name" name="name" class="contact-form-input" />
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" id="email" name="email" class="contact-form-input" />
        </div>
        <div class="form-group">
          <label for="tel">Número de teléfono</label>
          <input type="tel" id="tel" name="tel"  class="contact-form-input" />
        </div>
        <div class="form-group">
          <label for="mensaje">Escribe aquí tu mensaje</label>
          <textarea name="message" id="message"></textarea>
        </div>
        <button class="enviar" id="submit" type="submit">Enviar</button>
        <p id="thank-you-message">
          ¡Gracias por tu mensaje!
        </p>
      </form>
    </div>
  </div>
</div>
</main>
  <footer></footer>
  <script type="module" src="../src/js/funcionalidad.js"></script>
  <script src="../src/js/contactForm.js"></script>
  <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script src="../src/js/sweetalert2.js"></script>
</body>

</html>