<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" rel="stylesheet">
<link href="../src/public/css/inicio.css" rel="stylesheet">
<link href="../src/public/css/nav.css" rel="stylesheet">
<link href="../src/public/css/footer.css" rel="stylesheet">
</head>
<body>
    <header></header>
<div id="wrapper">
<!-- Carrusel de imágenes -->
<div class="owl-carousel" id="slider-area">
<div style="background-image: url(../src/public/img/1.jpg)"></div>
<div style="background-image: url(../src/public/img/2.jpg)"></div>
<div style="background-image: url(../src/public/img/3.jpg)"></div>
</div>
<!-- Sección de navegación -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    $('#slider-area').owlCarousel({
       loop: true,
       autoplay: true,
       responsive: {
           0: {
               items: 1 
           },
           600: {
               items: 1
           },
           1000: {
               items: 1 
           }
       }
    })        
</script>

    <footer></footer>
        <script src="../src/js/funcionalidad.js"></script>
    </body>
</html>