<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/public/css/nav.css">
</head>
<body>
   <nav class="nav">
    <div class="logo">
        <img src="/src/public/img/logos-02.png" alt="logo">
    </div>
    <ul>
        <li><a href="home"></a>Home</li>
        <li><a href="nosotros"></a>Nosotros</li>
        <li><a href="productos"></a>Productos</li>
        <li><a href="contactenos"></a>Contactenos</li>
        <li><a href="blog"></a>Blog</li>
    </ul>
    <div class="menu-icon">
        <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
    </div>
   </nav>
</body>
</html>