*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #024959;
    --secondary-color: #026773;
    --text-color: #3CA6A6;
    --icon-color: #012E40;
    --natural-color: #F2E3D5;
    --blanco: #c1c1c1;
    --negro: #000000;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Lato", sans-serif;
}

p {
    font-family: "Urbanist", sans-serif;
}

/* section1 */

.section1 {
    width: 100%;
    height: 200px;
    background-image: url(https://images.pexels.com/photos/8981523/pexels-photo-8981523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
}

.section1-contenido{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--negro);
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--blanco);
}

.section1-contenido h4{
    margin-top: 20px;
}

.section1-contenido h3{
    margin-bottom: 10px;
}

@keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #parpadeo {
    animation: parpadeo 1s infinite;
  }


  /* section2 */

.conoce-mas{
    text-align: center;
    padding: 20px;
}

.section2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.img-section2 img{
    width: 50%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 120px 20px 120px 0;
    box-shadow: 1px 8px rgba(0, 0, 0, 0.6);

}

.text-section2 h2{
    margin-bottom: 10px;
}

.text-section2 p{
    font-size: 12px;
}
/* section3 */

.section3{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.img-section3 img{
    width: 50%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 20px 120px 0 120px;
    box-shadow: 1px 8px rgba(0, 0, 0, 0.6);
}

.text-section3 h2{
    margin-bottom: 10px;
}

.text-section3 p{
    font-size: 12px;

}

/* section4 */
.titulo-seccion4{
    text-align: center;
    margin-bottom: 20px;
}

.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contenedor-4{
    overflow: hidden;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 200px;
    width: 100%; 
    transition: all 0.5s ease-in;
}

.slider-inner img{
    aspect-ratio: 16/9;
    object-fit: cover;
}

.contend-img img{
    background-color: #b3b3b3;
   width: 280px;
   height: 150px;
   border-radius: 120px 80px 120px 80px;
}
