    html,body{
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }

    header {
        border: solid 2px red;
    }

    /* * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    } */

/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: "Lato", sans-serif;
} */

.formulary-container {
    background-color: rgba(242, 227, 213, 0.5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 95%;
    padding: 20px;
    margin: 20px auto; 
}

h2, p {
    text-align: center;
    margin: 10px 0;
    font-size: 22px; 
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px; 
    background-color: rgba(200, 190, 180, 0.2);
}

input:focus {
    outline: none;
}


textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(200, 190, 180, 0.2);
    resize: none;
    font-family: "Lato", sans-serif;
}

textarea:focus {
    outline: none;
}

.enviar {
    font-size: 16px; 
    font-weight: bold;
    display: block;
    background-color: #026773;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.error-message {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}

.enviar:hover {
    background: #3CA6A6;
}
@media (min-width: 768px) {
    .formulary-container {
        max-width: 80%;
    }
}
@media (min-width: 1200px) {
    .formulary-container {
        max-width: 50%;
    }
}

@media (min-width: 1024px){
    .formulary-container {
        max-width: 60%;
    }
}

