
.formulary-container {
    background-color: rgba(242, 227, 213, 0.5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    max-width: 95%;
    padding: 20px;
    margin: 20px auto;
    height: 57vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-form-h2,
#contact-form-p {
    text-align: center;
    margin: 20px 0;
    font-size: 22px;
}

.contact-form-input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(200, 190, 180, 0.2);
}

.contact-form-input:focus, textarea:focus {
    outline: none;
}


textarea {
    resize: none;
    height: 15vh;
}


.enviar {
    font-size: 16px;
    font-weight: bold;
    display: block;
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.error-message {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}

.enviar:hover {
    background: var(--text-color);
}

@media (min-width: 768px) {
    .formulary-container {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    .formulary-container {
        max-width: 50%;
    }
}

@media (min-width: 1024px) {
    .formulary-container {
        max-width: 60%;
    }
}