* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #024959;
  --secondary-color: #026773;
  --text-color: #3ca6a6;
  --icon-color: #012e40;
  --natural-color: #f2e3d5;
  --blanco: #c1c1c1;
  --negro: #000000;
}

h2,
button {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h4,
h6,
a {
  font-family: "Urbanist", sans-serif;
  font-weight: 200;
}

.logo-1024 {
  display: none;
}

.contenedor-iniciarSesion {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15%;
}

.botones-inicar-registrarse {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.botones-inicar-registrarse a button {
  width: 100%;
  height: 40px;
  border-width: 1.5px;
  border-color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10%;
  background-color: transparent;
  transition: 0.3s ease all;
}

.botones-inicar-registrarse button:hover,
.botones-inicar-registrarse button:active,
.botones-inicar-registrarse button:focus {
  color: var(--text-color);
  color: white;
  background-image: linear-gradient(to right, #012e40, #3ca6a6);
}

.titulo-ingresar {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 5%;
}

.iniciar-redes-sociales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.facebook,
.google,
.apple {
  width: 85%;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: var(--text-color);
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 5%;
  cursor: pointer;
  transition: 0.4s ease all;
}

.facebook:hover,
.google:hover,
.apple:hover {
  scale: 1.2;
  fill: var(--text-color);
}

.facebook svg,
.google svg,
.apple svg {
  width: 20px;
  height: 20px;
  margin: 3%;
}

.facebook svg:hover,
.google svg:hover,
.apple svg:hover {
  width: 20px;
  height: 20px;
  margin: 3%;
}

.contenido-formulario {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 5%;
}

.contenido-formulario input {
  width: 92%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid;
  outline: none;
  border-color: var(--text-color);
  padding: 10px;
  margin-top: 10px;
}

.formulario-ingreso {
  display: grid;
  grid-template-columns: 50% 50%;
}

.contenedor-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contenedor-checkbox input {
  width: 15px;
  margin-bottom: 10px;
}

.contenedor-checkbox h6 {
  display: flex;
  margin: 0 0 0 10px;
}

.contenedor-olvido-contraseña {
  display: flex;
  justify-content: end;
  margin: 0 20px 0 0;
}

.contenedor-olvido-contraseña a {
  text-decoration: none;
  color: #000000;
}

.contenedor-olvido-contraseña a:hover {
  scale: 1.2;
  color: var(--text-color);
}

.ingresar {
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  align-items: center;
}

.ingresar button {
  width: 200px;
  height: 35px;
  border: 1px solid;
  outline: none;
  border-color: var(--text-color);
  background-color: transparent;
  transition: color 0.8s ease, background-image 1s ease;
  box-shadow: 0 5px 5px 0 #3ca6a6;
  font-size: 16px;
}

.ingresar button:hover {
  color: white;
  background-image: linear-gradient(to right, #012e40, #3ca6a6);
}

@media (min-width: 700px) {
  .contenedor-iniciarSesion {
    padding: 0 20%;
  }
}

@media (min-width: 1024px) {
  .contenedor2 {
    display: flex;
    flex-direction: column;
    padding: 20%;
  }

  .contenedor-iniciarSesion {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
  }

  .logo-1024 {
    background-color: var(--icon-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-1024 img {
    width: 50%;
    height: auto;
  }

  .logo-1024 h2 {
    font-size: 36px;
    color: white;
  }
  .contenido-formulario {
    margin-left: 15px;
  }

  .contenedor-checkbox h6 {
    margin: 0 0 0 10px;
  }
}
