*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --primary-color: #024959;
    --secondary-color: #026773;
    --text-color: #3CA6A6;
    --icon-color: #012E40;
    --natural-color: #F2E3D5;
    --blanco: #c1c1c1;
    --negro: #000000;
}


.nav{
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--icon-color);
    position: relative;
    height: 70px;
}

.logo img{
    width: 60px;
    height: auto;
}

.nav ul{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 30px;
}

.nav ul li{
    list-style-type: none;
    color: #ffffff;
}

.nav ul li a{
    text-decoration: none;
    
}

.menu-icon svg{ 
    width: 40px;
    height: 40px;
    fill: white;
    display: none;
}