body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}
.dividir {
  padding: 25% 0;
  width: 100%;
  height: 100%;
}
.logo {
  display: none;
}

.form-container {
  /* max-width: 600px; */
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 20px;
  background: rgba(242, 227, 213, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-header {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group input:focus {
  border-color: #007bff;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-submit {
  width: 70%;
  padding: 10px;
  background-color: #026773;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #29adaf;
}
.botones-inicar-registrarse {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.botones-inicar-registrarse a button {
  width: 100%;
  height: 40px;
  border-width: 1.5px;
  border-color: var(--text-color);
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin-bottom: 10%;
  background-color: #026773;
  transition: 0.3s ease all;
  border-radius: 5px;
}

#buton-registrarse1 {
  border: 1px solid #026773;
  border-bottom: 5px solid #012e40;
  background-color: transparent;
  color: #012e40;
}

.botones-inicar-registrarse button:hover,
.botones-inicar-registrarse button:active,
.botones-inicar-registrarse button:focus {
  color: var(--text-color);
  color: white;
  background-color: #29adaf;
}
.color-registro {
  background-color: #026773;
}
.color-inicio {
  background-color: #026773;
}

@media (min-width: 768px) {
  .dividir {
    padding: 15% 20%;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1000px) {
  .dividir {
    padding: 0% 0%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .informacion-formulario {
    padding: 10% 15%;
  }

  .logo {
    display: block;
  }

  .form-container {
    /* max-width: 600px; */
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 20px;
    background: rgba(242, 227, 213, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-group input {
    padding: 5px;
    font-size: 14px;
  }

  .form-group label {
    margin-bottom: 1px;
  }

  .logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #012e40;
  }

  .logo img {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .dividir {
    height: 100vh;
  }

  .informacion-formulario {
    padding: 20% 20%;
  }
}
